.footer-section {
    background: #0E1A2B;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.copyright-container {
    color: #6C747E;
    text-align: center;
}

.copyright-holder-name {
    color: #BDA459;
}