<section class="hero">

  <div class="hero-container">

    <!-- Left Content -->
    <div class="hero-content">

      <div class="availability">
        <span class="status-dot"></span>
        <span>AVAILABLE FOR OPPORTUNITIES</span>
      </div>

      <h1>
        <span class="first-name">Anirban</span>
        <span class="last-name">Dey</span>
      </h1>
<!-- 
      <p class="description">
        Data Migration Specialist and ETL Developer with 5+ years
        in SAP BODS, Talend, MS SQL Server, PostgreSQL, Python,
        Power BI &amp; S/4HANA ETL workflows and large-scale
        migrations.
      </p> -->

      <div class="hero-actions">
        <a href="#contact" class="btn">Send a Query</a>
        <a href="#experience" class="btn">View Experience</a>
        <a href="https://drive.google.com/file/d/1ODIqArlA__jes9wHuR79pG2ShZo74OIG/view?usp=sharing&usp=embed_facebook" class="btn" target="_blank" rel="noopener noreferrer">
          View Resume
        </a>
      </div>

    </div>

    <!-- Right Content -->
    <div class="hero-visual">

      <div class="profile-wrapper">
        <div class="profile-dashed-border"></div>

        <div class="profile-image">
          <img
            src="/images/profile.jpg"
            alt="Anirban Dey"
          />
        </div>
      </div>

      <div class="stats">

        <div class="stat-card small-card">
          <span class="stat-value">1+</span>
          <span class="stat-label">
            YEARS EXP
          </span>
        </div>

        <div class="stat-card">
          <span class="stat-value">BACKEND</span>
          <span class="stat-label">
            DEVELOPMENT
          </span>
        </div>

        <div class="stat-card">
          <span class="stat-value">AI</span>
          <span class="stat-label">
            INTEGRATION
          </span>
        </div>

      </div>

    </div>

  </div>

</section>